*{
    margin: 0px;
    padding: 0px;
}
.heading{
    color: coral;
    background: cyan;
    text-transform: uppercase;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.btn, .form-control{
    border-radius: 0px;
    width: 100%;
}
p{
    color: darkmagenta;
}
input{
    width: 400px;
    border: none;
    background: transparent;
    border-bottom: 1px solid red;
    padding:6px;
    margin-bottom: 15px;
    color: black;
    align-items: center;
}